# Python / Environment
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env

# Model weights & heavy data
*.h5
*.keras
*.hdf5
*.onnx
*.pt
*.pth
*.tflite
*.pb
data/
datasets/

# IDE / System files
.vscode/
.idea/
.DS_Store

.venv/
__pycache__/
*.pyc

.streamlit/secrets.toml